/* ==========================================================================
   Stylesheet
   Kurt Cunningham — Portfolio
   ========================================================================== */


/* ==========================================================================
   Variables
   ========================================================================== */

:root {
  --primary-black:        #000000;
  --primary-gray:         #808080;
  --primary-white:        #FFFFFF;
  --primary-red:          #EF4637;

  --secondary-aqua:       #9AEEF7;
  --secondary-blue:       #69B3F2;  
  --secondary-green:      #83FED1;  
  --secondary-yellow:     #83FED1;  
  --secondary-salmon:     #FFBEA1;  

  --font-sans:              'Geist', Helvetica, Arial, sans-serif;
  --font-mono:              'Geist Mono', monospace;

  /* Font Sizing */
  --font-size-xs:           9px;  
  --font-size-sm:           12px;
  --font-size-base:         16px;
  --font-size-md:           21px;
  --font-size-lg:           28px;
  --font-size-xl:           38px;
  --font-size-xxl:          51px;

  /* Font Weight */
  --font-weight-regular:    400;
  --font-weight-bold:       600;

  /* Spacing */
  --space-1:                4px;
  --space-2:                8px;
  --space-3:                16px;
  --space-4:                32px;
  --space-5:                64px;
  --space-6:                128px;
  --space-7:                256px;

  /* Sizing */
  --size-percent-50:        50%;
  --size-percent-75:        75%;
  --size-percent-100:       100%;

  /* Gutter */
  --gutter:                 var(--space-3);
}


