<section class="page--section">
  <div class="page--container page-section--header">
    <h4 class="title">Looking to get started?</h4>
    <p>Let’s set a time to talk. Contact me today.</p>
    <%= link_to 'Contact Me', '#', class: 'button button--primary' %>
  </div>
</section>