<footer class="footer">
  <div class="footer--content__left">
    <ul>
      <li class="footer--item">Kurt Cunningahm</li>
      <li class="footer--item">|</li>
      <li class="footer--item">All Rights Reserved</li>
    </ul>
  </div>
  <div class="footer--content__right">
    <ul>
      <li class="footer--item"><%= link_to 'Home', '/' %></li>
      <li class="footer--item"><%= link_to 'Journal', '/blog.html' %></li>
      <li class="footer--item"><label for="modal-1" class="footer--item">Contact Me</label></li>
    </ul>
  </div>
</footer>