<nav role="navigation" aria-label="main-navigation" class="navbar">
  <div class="navbar-left--container">
    <ul>
      <li><%= link_to 'Kurt Cunningham', '/', class: 'navbar-link' %></li>
    </ul>
  </div>
  <div class="navbar-right--container">
    <ul>
      <li class="navbar-item"><%= link_to 'Journal', '/blog.html', class: 'navbar-link' %></li>
      <li class="navbar-item"><%= link_to 'Contact Me', '#', class: 'navbar-link' %></li>
    </ul>
  </div>
</nav>