//SITE FOOTER STYLES

footer{
	@extend .position-relative;

	h6{ 
		@extend %color-white-base;
		@extend %font-type-sans-bold;
	}
}


//DRIBBBLE SHOTS
.dribbble-shots{
	@extend %site-layout-padding;
	@extend .text-align-center;

	h3{ 
		@extend %color-white-base;
		@extend %font-type-sans-light;
		@include rem(margin-bottom, 25px); 
	}
} 

.jribbble-feature{
	@include outer-container;

	ul{
		@extend %clearfix;
		@extend .padding-0;
		@extend .text-align-center;

		li{
			@extend .display-inline-block;
			@extend .position-relative;
			@include transition(all 0.3s ease-in);
			overflow: hidden;
			width: 48%;

			@include media($tablet){
				@include span-columns(3 of 12);
				@include omega(4n);
			}

			img{ width: 95%; }

			p, h6{ 
				@extend %color-white-base;
				@extend .position-relative;
				@include rem(top, 100px);
				visibility: hidden; 
			}

			&:hover{
				@extend %cursor-pointer;

				h6, p{ visibility: visible; opacity: 1; } 
				
				img{ opacity: 0.2;}
			}

			&:last-child{ margin-right: 0; }
		}
	}
}

.copyright{
	@extend %site-layout-padding;
	@extend .text-align-center;
	@include outer-container;

	hr{
		border: none;
		border-bottom: 1px solid #393F44;
		@include rem(margin, 50px 0 25px);
	}

	p{ @extend %color-white-base; }
}