//NAVBAR STYLES

header{ @include outer-container; }

.navbar{
	@extend %site-layout-padding;
	@include rem(margin, 30px auto);

	li{
		@extend .display-inline-block;
		@extend %font-type-sans-bold;
		@extend .vertical-align-middle;
		text-transform: uppercase;

		a{
			@extend %color-grey-dark;
			@include transition();

			&:hover{ opacity: 0.6; }
		}
	}

	.left-nav{
		@extend .text-align-center;
		@include rem(margin-bottom, 20px);
		width: 100%;

		@include media($tablet){ 
			text-align: left;
			@include span-columns(4 of 12); 
		}

		.logo{
			border: 1px solid $grey-base;
			border-radius: 20em;
			height: 35px;
			@include rem(margin-right, 5px);
			width: 35px;
		}
	}

	.right-nav{
		@extend .text-align-center;
		width: 100%;

		@include media($tablet){ 
			text-align: right;
			@include span-columns(4 of 12); 
			@include shift(4 of 12); 
		}

		li{
			@include rem(padding-right, 20px);

			&:last-child{ padding-right: 0; }

			.button{ margin-top: -6px; }
		}
	}
}