<div class="row">
	<a href="http://transferbootcamp.com" target="_blank" class="client-block">
		<p class="client-logo tbc">Transfer Bootcamp</p>
	</a>
	<a href="http://slot-swap.com" target="_blank" class="client-block">
		<p class="client-logo slotswap">Slot-Swap</p>
	</a>
	<a href="http://madebymunsters.com" target="_blank" class="client-block">
		<p class="client-logo mbm">Made By Munsters</p>
	</a>
	<a href="http://thinkcerca.com" target="_blank" class="client-block">
		<p class="client-logo lpl">LaunchPad Lab</p>
	</a>
</div>

<div class="row">
	<a href="http://parkmuchapp.com" target="_blank" class="client-block">
		<p class="client-logo parkmuch">ParkMuch</p>
	</a>
	<a href="http://payvalet.io" target="_blank" class="client-block">
		<p class="client-logo payvalet">PayValet</p>
	</a>
	<a href="https://contentweb.com" target="_blank" class="client-block">
		<p class="client-logo contentweb">Content Web</p>
	</a>
	<a href="http://dev.oneparish.com/" target="_blank" class="client-block">
		<p class="client-logo oneparish">One Parish</p>
	</a>
</div>