<section class="modal">
  <input class="modal-state" id="contact-modal" type="checkbox" />
  <div class="modal-window">
    <div class="modal-container">
      <header class="modal-header">
        <label class="modal-close" for="contact-modal"></label>
        <h1>Project Idea?</h1>
        <p>Contact me to setup a time to chat.</p>
      </header>
      <div class="modal-inner">
        <form accept-charset="UTF-8" action="https://formkeep.com/f/21c83aac884a" method="POST">
          <input type="hidden" name="utf8" value="✓">
          <fieldset class="small--fieldset">
            <label>Your Name</label>
            <input type="text" name="name" placeholder="Kurt Cunningham">
          </fieldset>
          <fieldset class="small--fieldset last">
            <label>Your Email</label>
            <input type="text" name="email" placeholder="email@example.com">
          </fieldset>
          <fieldset class="large--fieldset">
            <label>What can I help you with?</label>
            <textarea row="40" name="message"></textarea>
          </fieldset>
          <input type="submit" value="Send" placeholder="Your message" class="button button-blue">
        </form>
      </div>
    </div>
  </div>
</section>