<header>
  <nav class="navbar">
    <div class="left-nav">
      <ul>
        <li><img src="{{ site.baseurl }}images/kurt.jpg" class="logo" /></li>
        <li><a href="{{ site.baseurl }}">Kurt Cunningham</a></li>
      </ul>
    </div>
    <div class="right-nav">
      <ul>
        <li><a href="{{ site.baseurl }}journal">Journal</a></li>
        <li><label for="contact-modal"><span class="button button-blue js-btn" for="modal-1">Hire Me</span></label></li>
      </ul>
    </div>
  </nav>
</header>