// Card Component
// ========================================


// Variables
$card-background:          $white-base;
$card-border:              2px solid $white-base;
$card-border-radius:       3px;
$card-margin:              15px;
$card-offset:              20px;
$card-padding:             30px;

$card-hover-border:        2px solid $black-base;
$card-hover-spread:        0 0 10px;
$card-hover-shadow:        rgba(0, 0, 0, 0.15);

$card-image-border:        1px solid $grey-light;
$card-image-border-hover:  1px solid $white-base;


// Structure
.card {
  @include position(relative);
  @include rem(margin-top, $card-offset);
  @include rem(padding, $card-padding);
  @include row();
  @include transition(all 0.8s ease-in-out);
  border: $card-border;
  background-color: $card-background;
}

.card__hover:hover {
  @include media($tablet-landscape) {
    @include box-shadow($card-hover-spread, $card-hover-shadow);
    background-color: $black-base;
    border: $card-hover-border;
    border-radius: $card-border-radius;

    .card--image { border: $card-image-border-hover; }

    .card--tag,
    .card--title,
    .card--description {
      @include transition(all 0.6s ease-in-out);
      color: $white-base;
    }
  }
}

.card--content__left {

  @include media($tablet) {
    @include span-columns(4 of 9);
  }

  @include media($tablet-landscape) {
    @include span-columns(4 of 12);
  }
}

.card--content__right {
  @include media($tablet) {
    @include span-columns(5 of 9);
  }

  @include media($tablet-landscape) {
    @include span-columns(8 of 12);
  }
}

.card--tag {
  text-transform: uppercase;
}

.card--title {
  @include font-type($primary-sans-serif, normal, 300);
  @include rem(margin-bottom, $card-margin);
}

.card--description {
  @include rem(margin-bottom, $card-margin);
}

.card--image {
  @include position(absolute, 0 0 0 null);
  @include transition(all 0.6s ease-in-out);
  border: $card-image-border;
  display: none;
  height: 100%;

  @include media($tablet) {
    display: block;
  }

  @include media($tablet-landscape) {
  }
}