// Card Component
// ========================================


// Variables
$card-background:               $white-base;
$card-border:                   $border-alpha;
$card-display:                  block;
$card-margin:                   0 0 $spacer-charlie;
$card-overflow:                 hidden;
$card-padding:                  $spacer-charlie;
$card-position:                 relative;
$card-radius:                   1px;
$card-spread:                   0 0 15px 1px;
$card-shadow:                   rgba(45, 45, 45, 0.15);

$card-margin-small:             0 0 $spacer-delta;
$card-padding-small:            $spacer-delta;

$card-padding-large:            $spacer-bravo;

$card-margin-extra-small:       0 0 $spacer-echo;
$card-padding-extra-small:      10px $spacer-delta;

$card-title-margin:             $spacer-delta;
$card-title-padding:            $spacer-delta;


// Structure
.card {
  @include position($card-position);
  background: $card-background;
  border: $card-border;
  border-radius: $card-radius;
  display: $card-display;
  margin: $card-margin;
  padding: $card-padding;
}

// Card Sizes
.card--large {
  margin: $card-margin-small;
  padding: $card-padding-large;
}

.card--small {
  margin: $card-margin-small;
  padding: $card-padding-small;
}

.card--extra-small {
  margin: $card-margin-extra-small;
  padding: $card-padding-extra-small;
}

.card--overflow {
  overflow: $card-overflow;
}


// Card Modifiers
.card--shadow {
  @include box-shadow($card-spread, $card-shadow);
}


// Card Text
.card__title {
  @include s-delta;
  border-bottom: $card-border;
  margin-bottom: $card-title-margin;
  padding-bottom: $card-title-padding;
}

.card__title--alt {
  @include s-delta;
  border-bottom: $card-border;
  margin-bottom: $card-title-margin;
  padding-bottom: $card-title-padding;
}
