// Link Component
// ========================================


// Variables
$link-line-height:      normal;
$link-position:         relative;

$link-cursor-disabled:  not-allowed;

$link-image-display:    inline-block;
$link-image-height:     10px;
$link-image-margin:     0 0 0 $spacer-delta;
$link-image-size:       100%;
$link-image-url:        'icons/arrow-right.svg';
$link-image-width:      5px;


// Structure
%link {
  @include font-type($primary-sans-serif, normal, 400);
  @include position($link-position);
  line-height: $link-line-height;
}

@each $link, $styles in $links {
  $color:   nth($styles, 1);

  .link--#{$link} {
    @extend %link;
    color: $color;

    // Disabled Button
    @if $link == 'disabled' {
      cursor: $link-cursor-disabled;
    }

    // Add Icon After Link
    &.link--icon {

      &::after {
        background: transparent image-url($link-image-url) center no-repeat;
        background-size: $link-image-size;
        content: " ";
        display: $link-image-display;
        height: $link-image-height;
        margin: $link-image-margin;
        width: $link-image-width;
      }
    }

    // Link Animation <-- Experiemental Refactor if you like it.
    @if $link == 'alpha' {

      &:hover {
        opacity: 1;
      }

      &::before {
        @include position(absolute, 0 null null 0);
        @include transition(max-width 0.5s ease);
        color: $blue-base;
        content: attr(data-hover);
        max-width: 0;
        overflow: hidden;
        white-space: nowrap;
      }

      &:hover::before,
      &:focus::before {
        max-width: 100%;
      }
    }
  }
}