//HOME STYLES

.welcome-message-header{
	@extend %clearfix;
	@extend %site-layout-padding;

	h1{
		@extend %color-grey-dark;
		@extend %font-type-sans-light;
		@extend %font-size-toobig;
		@include rem(margin-bottom, 10px);
	}

	h3{
		@extend %color-grey-dark;
		@extend %font-type-sans-light;
		@extend %font-size-big;
		@include rem(margin-top, 20px);
		text-transform: none;

		@include media($tablet){ @include span-columns(10 of 12) }
	}
}

.welcome-message-content{
	@extend %clearfix;
	@extend .display-block;
	@extend %site-layout-padding;
	@include rem(margin-top, 20px);

	p{
		@extend %font-size-small;
		width: 100%;

		@include media($tablet){
			@include span-columns(6 of 12);
		}
	}
}

.work-clips{
	@extend %site-layout-padding;

	.browser-img{
		background: transparent url('../../images/browser-bg.png') no-repeat center center;
		background-size: 950px;
		@extend .position-relative;
		@include rem(margin-bottom, -15px);
		height: 600px;

		.clip{
			@extend .display-inline;
			@extend .left-0;
			@extend .position-absolute;
			@extend .right-0;
			@include transition(all 0.3s ease-in);
			@include rem(margin, 0 auto);
			list-style: none;
			width: 800px;
			

			&:hover{ @extend %cursor-zoom-in; }

			&.screenshot--1{
				background:url('../../images/oneparish-browser.png') no-repeat center center;
				height: 100%;
				@include transform(scale(0.5) translateX(-45%));				
			}

			&.screenshot--2{
				background: transparent url('../../images/turf-browser.png') no-repeat center center;
				height:100%;
				@include transform(scale(0.5) translateX(0%));
			}

			&.screenshot--3{
				background: transparent url('../../images/payvalet-browser.png') no-repeat center center;
				@include transform(scale(0.5) translateX(45%));	
				height:100%;
			}

			&.selected{
				@include transform(scale(1.2));
				z-index:1000;

				&:hover{ @extend %cursor-zoom-out }
			}
		}
	}
}

.clients{
	@extend .text-align-center;
	@extend %site-layout-padding;
	@include outer-container;

	h3{ 
		@extend %font-type-sans-light;
		@include text-shadow(0 1px 1px, rgba(255,255,255,0.75));
	}	

	.client-block{
		border-radius: 3px;
		border:1px solid $grey-base;
		@extend %background-grey-light;
		@extend .display-inline-block;
		@include box-shadow(0 1px 2px, rgba(0,0,0,0.05));
		@include rem(margin-top, 25px);
		@include rem(height, 150px);
		overflow: hidden;
		text-indent: -99999px;
		width: 48%;

		@include media($tablet){
			@include span-columns(3 of 12);
		}
	}

	.client-logo{ height: 100%; @include transition(all 0.3s ease-in-out); width: 100%; }

	.tbc{
		background: url('../../images/tbc_grey.png') no-repeat center center;

		&:hover{ 
			background-color:#3498db; 
			background-image: url('../../images/tbc_white.png'); 
		}
	}

	.slotswap{ 
		background: url('../../images/slotswap-grey2.png') no-repeat center center;

		&:hover{ 
			background-color:#eb3206; 
			background-image: url('../../images/slotswap.png'); }

	}

	.mbm{ 
		background: url('../../images/mbm_grey.png') no-repeat center center;

		&:hover{ background-color:#429dee; 
			background-image: url('../../images/mbm_white.png'); }

	}

	.cerca{ 
		background: url('../../images/cerca_grey.png') no-repeat center center;

		&:hover{ 
			background-color:#83b83b; 
			background-image: url('../../images/cerca_white.png'); }

	}

	.parkmuch{ 
		background: url('../../images/parkmuch_grey.png') no-repeat center center;

		&:hover{ 
			background-color:#1abc9c; 
			background-image: url('../../images/parkmuch_white.png'); }

	}

	.payvalet{ 
		background: url('../../images/pv_grey.png') no-repeat center center;

		&:hover{ 
			background-color:#99d1dc; 
			background-image: url('../../images/pv_white.png'); }

	}

	.arni{ 
		background: url('../../images/arni_grey.png') no-repeat center center;

		&:hover{ 
			background-color:#2c3e50;
			background-image: url('../../images/arni_white.png'); }
	}

	.oneparish{ 
		background: url('../../images/op_grey.png') no-repeat center center;

		&:hover{ 
			background-color:#eb6e1f;
			background-image: url('../../images/op_white.png'); }
	}
}

.quote{
	@extend %site-layout-padding;
	@include outer-container;
	@include rem(padding, 30px 0);

	h4{ 
		@extend %color-white-base;
		@extend %font-type-sans-bold-italic;
		@extend .text-align-center;
		@include span-columns(10 of 12);
		@include shift(1);
		@include rem(margin-bottom, 30px);
	}

	ul{ 
		clear: both;
		@extend .text-align-center;
		margin-bottom: 0;

		li{
			list-style: none;
			@extend %color-white-base;
			@extend %font-type-sans-bold;
			@extend .display-inline;
			@extend .padding-0;
			margin-right: 0.89em;
			margin-left: 0;
			text-transform: uppercase;

			.quote-mug{
				border:1px solid $grey-light;
				border-radius: 20em;
				@extend .vertical-align-middle;
				height: 50px;
				overflow: hidden;
				width: 51px;
			}
		}
	}
}