//SITE BUTTONS

//MAIN BUTTON
.button{
	border-radius: 2px;
	@extend .display-inline-block;
	@extend %font-type-sans-bold;
	@extend %font-size-base;
	@extend .border-0;
	@include box-shadow(0 0 3px, rgba(0,0,0,0.25));
	@include transition (all 0.3s ease-in-out);
	line-height: normal;
	@include rem(padding, 8px 15px);
	-webkit-appearance: none;

	&:hover{
		@extend %cursor-pointer;
	}

	&:focus{
		outline: none;
		text-decoration: none;
	}
}

@each $button in $buttons{
	$style:    nth($button, 1);
	$color-1:  nth($button, 2);
	$color-2:  nth($button, 3);
	$border:   nth($button, 4);

	.button-#{$style}{
		border: 1px solid darken($border, 3%);
		color: $white-base !important;
		@include linear-gradient($color-1, $color-2);
		@include text-shadow(0 -1px 0px, rgba(0,0,0,0.35));

		&:hover{
			border-color: darken($border, 10%);
			opacity: 1 !important;
		}

		&:active{
			@include linear-gradient($color-2, $color-1);
		}
	}
}

//NON-BUTTON LINKS	
@each $link in $links {
	$name: nth($link, 1);
  $color: nth($link, 2);

    .#{$name}-link {
      color: $color;
      @extend %cursor-pointer;
      @include transition ( all 0.3s ease-in-out );

    &:hover{
      color: $color;
      @extend %cursor-pointer;
      opacity: 0.8;
    }
  }   
}