//SITE MODAL

	.modal {
    $modal-padding: 3em;
    $modal-background: $white-base;
    $modal-close-color: $grey-dark;
    $modal-image-height: 135px;
    $modal-image-width: $modal-image-height;

    input[type="checkbox"] { @extend .display-none; }

    .modal-open {  overflow: hidden; }

    .modal-window {
      @extend %overflowAuto;
      @include transition(opacity .25s ease);
      @include position(fixed, 0px 0px 0px 0px);
      background: rgba(0,0,0, .85);
      opacity: 0;
      text-align: left;
      visibility: hidden;
      z-index: 99999999999;

      .modal-bg {
        @extend %cursor-pointer;
        @include position(absolute, 0px 0px 0px 0px);
      }

      .modal-container{
        @extend .position-relative;
      	margin: auto;
      	margin-top: 0.8em;

      	@include media($tablet) {
  	      padding: $modal-padding;
  	      width: 60%;
  	      max-height: 60%;
  	      margin-top: 5em;
  	    }

  	    @include media($desktop) {
  	      width: 50%;
  	      margin-top: 5em;
  	    }
      }

      .modal-close {
        @extend %cursor-pointer;
  	    @include position(absolute, ($modal-padding /3) ($modal-padding /3) 0 nil);
  	    @include size(1.0em);

  	    &:after,
  	    &:before {
          @extend .display-block;
  	      @include position(absolute, 3px 3px 0 50%);
  	      @include transform(rotate(45deg));
  	      @include size(.15em 1.5em);
  	      background: $modal-close-color;
  	      content: '';
  	      margin: -3px 0 0 -1px;
  	    }

  	    &:hover:after,
  	    &:hover:before {
  	      background: darken($modal-close-color, 10);
  	    }

  	    &:before {
  	      @include transform(rotate(-45deg));
  	    }
  	  }

      .modal-header{
      	border-bottom: 1px solid $grey-base;
        @extend .position-relative;
      	@include transition(opacity .25s ease);
      	@include linear-gradient(180deg, $white-dark, $grey-light);
      	padding: 0.7em $modal-padding /2;
    	
    		h1{ 
    			@extend %color-black-base;
    			@extend %font-size-big; 
    			@include text-shadow(0 1px 1px, rgba(255, 255, 255, 0.3)); 
    			margin-bottom: 5px;
    		}

      	p{ @extend %font-size-base; margin-bottom: 0; }
      }
    }

    .modal-inner {
    	background: $modal-background;
      @extend %clearfix;
      @extend %overflowAuto;
      @include transition(opacity .25s ease);
      padding: $modal-padding /2;

      .half-group{
        padding: 0;
        
        @include media($mobile){ @include span-columns(6 of 12); }

        &.last{ @include omega(); }
      }

      .full-group{
        padding: 0;
        @include span-columns(12 of 12);
      }

      h1 {
        margin-bottom: .6em;
        text-align: left;
        text-transform: capitalize;
      }

      p {
        @extend .padding-0;
        margin: 0.5em 0 3.0em;
        max-width: 100% !important;
        text-align: left;

        &.intro { line-height: 1.6em; }

        &.body { 
          line-height: 1.45em;

          @include media($tablet) {
            @include columns(2 8em);
          }
        }
      }

      .cancel-link{ float: right; margin-right: 1.5em; margin-top: 0.5em; }

      .group-container{
        margin-bottom: 1.5em;

        .group-container-block{
          border: 1px solid $grey-base;
          border-radius: 2px;
          @extend %background-white-dark;
          @extend %overflowAuto;
          margin-top: 0.5em;
          max-height: 150px;
          padding: 0.6em 0.8em 0.8em;

          .group-label{
            @extend %font-size-small;
            margin-left: 0.35em;
            margin-top: 0.75em;

            @include media($mobile){
              @include span-columns(4 of 4);
            }
            @include media($tablet){
              @include span-columns(6 of 12);

              &:nth-child(even){ @include omega(); }
            }
          }

          input[type="checkbox"]{
            @extend .float-left;
            margin-right: 0.75em;
            margin-top: 2px;
          }
        }
      }

      .button{ @extend .float-right; }
    }

    .modal-state:checked + .modal-window {
      opacity: 1;
      visibility: visible;
    }

    .modal-state:checked + .modal-window .modal-inner {
      @extend .top-0;
    }
  }
