// Hompage Pages Stylesheet
// ========================================

// Variables
$page-position:                 relative;
$page-z-index:                  999;

$page-header-bg-attachment:     fixed;
$page-header-bg-image:          image-url('images/img-top.jpg');
$page-header-bg-position-sm:    right bottom;
$page-header-bg-position-xlg:   200px bottom;
$page-header-bg-repeat:         no-repeat;
$page-header-bg-size:           contain;
$page-header-display:           block;
$page-header-padding-sm:        $spacer-charlie;
$page-header-padding-md:        $spacer-alpha $spacer-delta;

$page-section-margin-sm:        0 0 $spacer-bravo;
$page-section-margin-md:        0 0 $spacer-alpha;
$page-section-padding-sm:       $spacer-bravo $spacer-delta;
$page-section-padding-md:       $spacer-alpha $spacer-delta;

$page-footer-bg-attachment:     fixed;
$page-footer-bg-image:          image-url('images/img-bottom.jpg');
$page-footer-bg-position:       center;
$page-footer-bg-repeat:         no-repeat;
$page-footer-bg-size:           cover;
$page-footer-display:           block;
$page-footer-padding:           $spacer-alpha $spacer-delta 80vh;

$page-sample-margin-sm:         $spacer-bravo 0;
$page-sample-margin-md:         $spacer-alpha;
$page-sample-transition:        all 1.0s ease;

$page-sample-content-border:    1px solid $grey-base;
$page-sample-content-margin:    0 0 $spacer-charlie;
$page-sample-content-padding:   0 0 $spacer-delta;
$page-sample-content-position:  relative;

$page-sample-image-bg:          $white-light;
$page-sample-image-margin:      0 0 $spacer-charlie;

$page-sample-link-cords:        5px 0 null null;
$page-sample-link-position:     absolute;


// Structure
.page {
  @include position($page-position);
  z-index: $page-z-index;

  // Page Header
  &__header {
    background-image: $page-header-bg-image;
    background-position: $page-header-bg-position-sm;
    background-repeat: $page-header-bg-repeat;
    background-size: $page-header-bg-size;
    display: $page-header-display;
    height: 100vh;
    padding: $page-header-padding-sm;

    @include media($large) {
      padding: $page-header-padding-md;
    }

    @include media($extra-large) {
      background-position: $page-header-bg-position-xlg;
      height: 90vh;
    }

    // NOTE: Custom for homepage header
    @include media(1440px) {
      background-position: $page-header-bg-position-sm;
      height: 80vh;
    }
  }

  // Page Section
  &__section {
    margin: $page-section-margin-sm;
    padding: $page-section-padding-sm;

    @include media($medium) {
      margin: $page-section-margin-md;
      padding: $page-section-padding-md;
    }
  }

  // Page Footer
  &__footer {
    background-image: $page-footer-bg-image;
    background-position: $page-footer-bg-position;
    background-repeat: $page-footer-bg-repeat;
    background-size: $page-footer-bg-size;
    display: $page-footer-display;
    padding: $page-footer-padding;

    @include media($medium) {
      background-attachment: $page-footer-bg-attachment;
    }
  }
}

// Page Samples
.sample {
  @include span-columns(4 of 4);
  margin: $page-sample-margin-sm;
  opacity: 0;
  transform: translateY(100px);
  transition: $page-sample-transition;

  &.scroll-in {
    opacity: 1;
    transform: translateY(0px);
  }

  @include media($medium) {
    @include span-columns(6 of 12);
    margin-bottom: $page-sample-margin-md;
    margin-top: $page-sample-margin-md;

    // NOTE: Make this more dynamic
    &:nth-child(2),
    &:nth-child(5) {
      @include omega();
    }

    &--large {
      @include span-columns(12 of 12);
    }
  }

  // Sample Image
  &__image {
    background-color: $page-sample-image-bg;
    margin: $page-sample-image-margin;

    img {
      width: 100%;
    }
  }

  // Sample Content
  &__content {
    @include position($page-sample-content-position);
    border-bottom: $page-sample-content-border;
    margin: $page-sample-content-margin;
    padding: $page-sample-content-padding;
  }

  // Sample Link
  &__link {
    @include position($page-sample-link-position, $page-sample-link-cords);
  }

  &__details {

    & p {
      @extend .text--uppercase;
      @include s-golf;
    }
  }
}

// Text Trigger
.text-trigger {
  @include position(fixed, null 0 30px 0);
  text-align: center;

  @include media($large) {
    @include position(fixed, 30px 30px null null);
    text-align: right;
  }
}