// Animation Pages Stylesheet
// ========================================

// Variables
$page-animation-delay:                0.5s;
$page-animation-delay-position:       relative;
$page-animation-duration:             800ms;
$page-animation-iterations:           1;
$page-animation-opacity:              0;
$page-animation-opacity-visible:      1;
$page-animation-timing-function:      cubic-bezier(0.0, 0.0, 0.2, 1);

$page-animation-a-background:         $black-base;
$page-animation-a-cords:              0 0 0 0;
$page-animation-a-position:           absolute;
$page-animation-a-transform:          scaleX(0);
$page-animation-a-transform-origin:   0 50%;
$page-animation-a-z-index:            999;


// Structure
.page {

  &__reveal-text {
    opacity: $page-animation-opacity;

    &.is-visible,
    &.is-visible::after {
      animation-delay: $page-animation-delay;
      animation-duration: $page-animation-duration;
      animation-fill-mode: both;
      animation-iteration-count: $page-animation-iterations;
      animation-timing-function: $page-animation-timing-function;
    }

    &.is-visible {
      @include position($page-animation-delay-position);
      animation-name: reveal-text;
      opacity: $page-animation-opacity-visible;

      &::after {
        @include position($page-animation-a-position, $page-animation-a-cords);
        animation-name: revealer-text;
        background-color: $page-animation-a-background;
        content: " ";
        transform: $page-animation-a-transform;
        transform-origin: $page-animation-a-transform-origin;
        z-index: $page-animation-a-z-index;
      }
    }
  }
}


// Reveal Text Keyframes
@keyframes reveal-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    -moz-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    -moz-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}

@keyframes revealer-text {
  0%, 50%   { transform-origin: 0 50%;    }
  60%, 100% { transform-origin: 100% 50%; }

  50%  { transform: scaleX(1); }
  60%  { transform: scaleX(1); }
  100% { transform: scaleX(0); }
}
