//SITE COLORS EXTENDS

@each $color in $colors{
	$color-name: nth($color, 1);
	$color-type: nth($color, 2);

	%background-#{$color-name}{
		background-color: $color-type;	
	}

	%color-#{$color-name}{
		color: $color-type;
	}
}