// Grid Base Stylesheet
// ========================================

// Variables
$columns-l:            12;
$columns-m:            9;
$columns-s:            4;

// Container
.container { @include outer-container() }

// Row
.row { @include row }

// Small Grid
@include grid-columns($small,$columns-s, s);
@include grid-offset($small,$columns-s, s);

// Medium Grid
@include grid-columns($medium,$columns-m, m);
@include grid-offset($medium,$columns-m, m);

// Large Grid
@include grid-columns($large,$columns-l, l);
@include grid-offset($large,$columns-l, l);