// Page Header Stylesheets
// ========================================


// Variables
$page-header-height:  650px;
$page-header-image:  'header-img.jpg';

$tag-border:          5px solid $yellow-base;
$tag-border-margin:   10px;
$tag-border-width:    70px;



// Page Header
.page-header{
  @include background-size(cover);
  background-image: image-url($page-header-image);
  background-repeat: no-repeat;
  background-position: right center;
  height: 100%;
  width: 100%;

  @include media($tablet-landscape){
    @include rem(height, $page-header-height);
    background-position: center top;
  }
}

.page-header--content{
  @include rem(padding, 150px 20px 50px);
  @include outer-container;

  @include media($tablet-landscape) {
    @include rem(padding, 300px 0 0 0);
  }

  .content--container{
    @include span-columns(4 of 4);

    @include media($tablet-landscape) {
      @include span-columns(6 of 12);
    }
  }

  .title{
    @include font-type($primary-sans-serif, normal, 700);
    @include rem(margin-bottom, 10px);
    @include s-mega;
    color: $white-base;
    line-height: none;

    &.top{ @include rem(margin-bottom, -15px); }

    @include media($tablet-landscape) {
      @include s-giga;
    }
  }

  .tag{
    @include position(relative);
    @include s-foxtrot;
    color: $yellow-base;
    text-transform: uppercase;

    .tag-border{
      @include position(absolute, 0 null 4px null);
      @include rem(margin-left, $tag-border-margin);
      @include rem(width, $tag-border-width);
      border-bottom: $tag-border;
    }
  }

  .description{
    @include font-type($primary-serif, italic, 400);
    @include span-columns(5.5 of 6);
    color: $white-base;

    a { color: $yellow-base; }
  }
}