// Page Header Stylesheets
// ========================================


// Variables
$page-header-height: 550px;


// Page Header
.page-header{
  @include background-size(100%);
  background-image: image-url('header-img.jpg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

  @include media($tablet-landscape){
    @include rem(height, $page-header-height);
    @include background-size(cover);
  }
}

.page-header--content{
  @include rem(padding-top, 300px);
  @include outer-container;

  .content--container{
    @include span-columns(6 of 12);
  }

  .title{
    @include font-type($primary-serif, normal, 400);
    @include rem(margin-bottom, 10px);
    @include s-giga;
    color: $white-base;
    line-height: none;

    &.top{ @include rem(margin-bottom, -15px); }
  }

  .tag{
    @include position(relative);
    @include s-foxtrot;
    color: $yellow-base;
    text-transform: uppercase;

    .tag-border{
      @include position(absolute, 0 null 4px null);
      @include rem(margin-left, 30px);
      @include rem(width, 40px);
      border-bottom: 5px solid $yellow-base;
    }
  }

  .description{
    @include font-type($primary-serif, italic, 400);
    @include span-columns(5.5 of 6);
    color: $white-base;

    a { color: $yellow-base; }
  }
}