// Base Layout Stylesheets
// ========================================

// Variables
$page-section-offset:       50px auto 100px;
$page-section-header-color: $grey-base;
$page-section-header-font:  $primary-serif;

$section-tag-color:         $blue-base;
$section-tag-border:        1px solid $grey-base;

$post-date-color:           $yellow-base;
$post-border-bottom:        1px solid $grey-base;


// Page Section
.page-section{
  @include outer-container;
  @include rem(margin, $page-section-offset);
}

.page-section--left{
  @include position(relative);
  @include span-columns(1 of 12);
  @include shift(1 of 12);
}

.page-section--right{
  @include span-columns(9 of 12);
  @include shift(1 of 12);
}


// Section Tag
.section-tag{
  @include font-type($primary-serif, italic, 400);
  @include shift(1 of 12);
  color: $section-tag-color;
}

.section-tag-border{
  @include position(absolute, null null null -400%);
  border: none;
  border-bottom: $section-tag-border;
  width: 485%;
}


// Page Section Header
.page-section--header{
  @include font-type($page-section-header-font, normal, 400);
  @include s-bravo;
  @include rem(line-height, 30px);
}


// Post List
.post{
  .post-date{
    color: $post-date-color;
  }
}