// Base Layout Stylesheets
// ========================================

// Variables
$page-section-header-font:   $primary-serif;
$page-section-offset:        0 auto 60px;
$page-section-padding:       60px 0;

$section-tag-color:          $yellow-base;

$page-section-title-color:   $black-base;

$page-divider-border:        1px solid $grey-light;
$page-divider-margin-mobile: 0 20px 60px;


// Global Styles
html,
body {
  overflow-x: hidden;

  &.is-fixed {
    @include position(absolute);
    height: 100%;
    overflow: hidden;
  }
}

.divider {
  @include outer-container;
  @include rem(margin, $page-divider-margin-mobile);
  border: none;
  border-bottom: $page-divider-border;

  @include media($tablet-landscape) { @include rem(margin, $page-section-offset); }
}

.left { float: left; }
.right { float: right; }


// Page Section
.page { clear: both; }

.page--section{
  @include clearfix;
  @include rem(margin, $page-section-offset);

  &.yellow {
    @include rem(padding, $page-section-padding);
    background-color: $yellow-base;
  }
}

.page--container {
  @include outer-container;
}


// Page Section Header
.page-section--header {
  @include rem(padding, 0 20px);
  @include span-columns(4 of 4);
  text-align: center;

  @include media($tablet-landscape) {
    @include span-columns(8 of 12);
    @include shift(2 of 12);
  }

  .tag {
    @include font-type($primary-sans-serif, normal, 700);
    @include s-foxtrot;
    color: $section-tag-color;
    text-transform: uppercase;
  }

  .title {
    @include font-type($primary-sans-serif, normal, 200);
    @include s-alpha;
    text-transform: capitalize;
  }
}


// Page Section Body
.page--section-body {
  @include span-columns(4 of 4);
  clear: both;

  @include media($tablet-landscape) {
    @include span-columns(12 of 12);
  }

  &.small {

    @include media($tablet-landscape) {
      @include span-columns(10 of 12);
      @include shift(1 of 12);
    }
  }
}