// Base Typography
// ========================================

html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  @include font-type($primary-sans-serif, normal, 400);
  @include s-foxtrot;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


// Highlight
::selection {
  background: $blue-base;
  color: $white-base;
}

::-moz-selection {
  background: $blue-base;
  color: $white-base;
}


// Base Headers
h1,
h2,
h3,
h4,
h5,
h6 {
   @include font-type($primary-sans-serif, normal, 400);
  color: $black-base;
  line-height: 1.0;
  margin-bottom: $spacer-delta;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

h1 { @include s-alpha;   }
h2 { @include s-bravo;   }
h3 { @include s-charlie  }
h4 { @include s-delta;   }
h5 { @include s-echo;    }
h6 { @include s-foxtrot; }


// Base Body Copy
p {
  @include font-type($primary-serif, normal, 400);
  @include s-foxtrot;
  color: $black-base;
  line-height: 1.5;
  margin-bottom: $spacer-delta;
}

.text--small,
p.text--small {
  @include s-golf;
  line-height: 1.5;
}

p.text--label {
  @include s-golf;
  font-weight: 700;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}


// Base List Styles
li,
dd{
  @include s-foxtrot;
  line-height: normal;
  list-style: none;
  margin-bottom: $spacer-echo;
}


// Base List Style
a {
  @include font-type(inherit, normal, 400);
  @include transition(all 0.5s ease);
  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

// Text Alignment
@each $text-alignment in $text-alignments {
  $name:   nth($text-alignment, 1);
  $align:  nth($text-alignment, 2);

  .text--#{$name} {
    text-align: $align;
  }
}


// Text Colors
@each $name, $tones in $type-colors {
  $tone-color: nth($tones, 1);

  .text--#{$name} {
    color: $tone-color;
  };
}


// Text Hide
.text--hide {
  @include hide-text;
}

// Text Styles
.text--uppercase  { text-transform: uppercase; }
.text--capitalize { text-transform: capitalize; }
.text--italic     { font-style: italic; }