// Typography Base Stylesheet
// ========================================

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  @include font-type($primary-sans-serif, normal, $font-weight-base);
  @include s-foxtrot;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

// Base Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-type($primary-sans-serif, normal, $font-weight-light);
  color: $black-base;
  line-height: 1.25;
  margin-bottom: $spacer-delta;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1 {
  @include s-bravo;

  @include media($medium) {
    @include s-alpha;
  }
}

h2 {
  @include s-charlie;

  @include media($medium) {
    @include s-bravo;
  }
}

h3 { @include s-charlie  }

h4 { @include s-delta;   }

h5 { @include s-echo;    }

h6 { @include s-foxtrot; }


// Base Body Copy
p {
  @include font-type($primary-sans-serif, normal, $font-weight-base);
  @include s-foxtrot;
  color: $grey-dark;
  line-height: 1.5;
  margin-bottom: $spacer-delta;
}

small {
  @include s-hotel;
}

// Base List Styles
li,
dd{
  @include font-type($primary-sans-serif, normal, $font-weight-base);
  @include s-foxtrot;
  color: $grey-dark;
  line-height: normal;
  margin-bottom: $spacer-delta;
}


// Base List Style
a {
  @include font-type(inherit, normal, $font-weight-base);
  text-decoration: underline;
  color: inherit;
  transition: all 0.5s ease;

  &:hover {
    opacity: 0.5;
  }

  &:active,
  &:focus {
    outline: none;
  }
}


// Base Text Inline Modifiers
b,
strong {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

// Text Alignment
@each $text-alignment in $text-alignments {
  $name:   nth($text-alignment, 1);
  $align:  nth($text-alignment, 2);

  .text--#{$name} {
    text-align: $align;
  }
}

// Text Colors
@each $name, $tones in $type-colors {
  $tone-color: nth($tones, 1);

  .text--#{$name} {
    color: $tone-color;
  };
}

// Text Transforms
@each $text-transform in $text-transforms {
  $name:        nth($text-transform, 1);
  $transform:   nth($text-transform, 2);

  .text--#{$name} {
    text-transform: $transform;
  }
}

// Text Weights
.text--bold {
  font-weight: 700;
}

// Header Styles
.header--primary {
  font-weight: 300;
}