// Color Variables
// ========================================

// Black
$black-base:   #2D2D2D;

// Blue
$blue-base:    #007BC1;

// Grey
$grey-light:   #EAEAEA;
$grey-base:    #EBEBEB;
$grey-dark:    #959595;

// White
$white-light:  #FAFAFA;
$white-base:   #FFFFFF;
$white-dark:   #F1F1F1;


//MAIN PALETTE LIST
$colors: (
  (black-base,    $black-base  ),
  (blue-base,     $blue-base   ),
  (grey-light,    $grey-light  ),
  (grey-base,     $grey-base   ),
  (grey-dark,     $grey-dark   ),
  (white-light,   $white-light ),
  (white-base,    $white-base  ),
  (white-dark,    $white-dark  )
);