// Typography Variables Settings Stylesheet
// ===============================================

// Font Families
$primary-sans-serif:        'freight-sans-pro', sans-serif;;

// Sizes
$font-size-base:  16px;

$s-alpha:         50px;
$s-bravo:         36px;
$s-charlie:       24px;
$s-delta:         20px;
$s-echo:          18px;
$s-foxtrot:       $font-size-base;
$s-golf:          12px;
$s-hotel:         10px;

// Line Heights
$base-line-height: 1.0;
$base-line-small:  $font-size-base;

// Weights
$font-weight-light:   300;
$font-weight-base:    400;
$font-weight-bold:    700;

// Weights List
$font-weights: (
  light   $font-weight-light,
  base    $font-weight-base,
  bold    $font-weight-bold
);

// Text Alignment
$text-align-center:  center;
$text-align-left:    left;
$text-align-justify: justify;
$text-align-right:   right;

// Text Alignment List
$text-alignments: (
  center    $text-align-center,
  left      $text-align-left,
  justify   $text-align-justify,
  right     $text-align-right
);

// Text Colors Map
$type-colors: (
  'blue':      ( $blue-base  ),
  'grey':      ( $grey-base  ),
  'grey-dark': ( $grey-dark  ),
  'white':     ( $white-base )
);

// Text Transforms
$text-transform-capitalize:   capitalize;
$text-transform-uppercase:    uppercase;

// Text Transforms List
$text-transforms: (
  capitalize   $text-transform-capitalize,
  uppercase    $text-transform-uppercase
);