// Grid Mixin
// ========================================

// Variables
$small:               em(320);
$medium:              em(720);
$large:               em(1024);
$extra-large:         em(1200);
$extra-extra-large:   em(1440);

$max-width:     1140px !global;
$column:        modular-scale(1, 65px, $golden) !global;
$gutter:        modular-scale(1, 30px, $golden) !global;

$fg-column:     $column;
$fg-gutter:     $gutter;

// Breakpoints
$small:             new-breakpoint(min-width $small 4);
$medium:            new-breakpoint(min-width $medium 9);
$large:             new-breakpoint(min-width $large 12);
$extra-large:       new-breakpoint(min-width $extra-large 12);
$extra-extra-large: new-breakpoint(min-width $extra-extra-large 12);


// Omega Reset
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}