// Typography Mixin
// ========================================


// Font Sizes
@mixin s-giga {
  font-size: $s-giga;
}

@mixin s-mega {
  font-size: $s-mega;
}

@mixin s-alpha {
  font-size: $s-alpha;
}

@mixin s-bravo {
  font-size: $s-bravo;
}

@mixin s-charlie {
  font-size: $s-charlie;
}

@mixin s-delta {
  font-size: $s-delta;
}

@mixin s-echo {
  font-size: $s-echo;
}

@mixin s-foxtrot {
  font-size: $s-foxtrot;
}

@mixin s-golf {
  font-size: $s-golf;
  line-height: $base-line-small;
}

@mixin s-hotel {
  font-size: $s-hotel;
  line-height: $base-line-small;
}


// Font Styles
@mixin font-type($type, $style, $weight) {
  font-family: $type;
  font-style:  $style;
  font-weight: $weight;
}