//FONTS EXTENDS

//FONT FAMILY EXTENDS
	@each $font in $fonts {
		$name:   nth($font, 1);
		$weight: nth($font, 2);
		$style:  nth($font, 3);
		$type:   nth($font, 4);

		%font-type-#{$name}{
			@extend %color-black-base;
			font-family: $type;
			font-style: $style;
			font-weight: $weight;
		}
	};

	//FONT SIZE EXTENDS
	@each $font-size in $font-sizes{
		$name: nth($font-size, 1);
		$size: nth($font-size, 2);

	  %font-size-#{$name}{
	    @include rem(font-size, $size);
	  }
  }

  //FONT COLOR EXTENDS
  @each $font-color in $font-colors{
  	$name: nth($font-color, 1);
  	$color: nth($font-color, 2);

  	.font-color-#{$name}{
  		color: $color;
  	}
  }