// Homepage Marketing Stylesheets
// ========================================

// Variables
$homepage-links-margin:             ($spacer-alpha - 30px) 0 0;
$homepage-links-position:           relative;

$homepage-link-display:             inline-block;
$homepage-link-margin:              0 $spacer-delta 0;

$homepage-dribbble-item-border:     $border-alpha;
$homepage-dribbble-item-display:    block;
$homepage-dribbble-item-margin:     0 0 $spacer-charlie;
$homepage-dribbble-item-opacity:    1;
$homepage-dribbble-item-overflow:   hidden;
$homepage-dribbble-item-position:   relative;
$homepage-dribbble-item-shadow:     rgba(45, 45, 45, 0.55);
$homepage-dribbble-item-spread:     0 0 20px 1px;
$homepage-dribbble-item-width:      100%;

$homepage-dribbble-text-cords:      0 null null null;
$homepage-dribbble-text-height:     100%;
$homepage-dribbble-text-opacity:    0;
$homepage-dribbble-text-padding:    $spacer-charlie;
$homepage-dribbble-text-position:   absolute;
$homepage-dribbble-text-transition: opacity 0.5s ease;
$homepage-dribbble-text-z-index:    10;

$homepage-post-border:              $border-alpha;
$homepage-post-margin:              0 0 ($spacer-charlie + $spacer-delta);
$homepage-post-padding:             0 0 $spacer-charlie;

$homepage-post-date-color:          $grey-dark;
$homepage-post-date-display:        block;
$homepage-post-date-margin:         0 0 $spacer-echo;


// Structure
.homepage__social-links {
  @include position($homepage-links-position);
  margin: $homepage-links-margin;
}

.homepage__social-link {
  display: $homepage-link-display;

  &:not(:last-child) {
    margin: $homepage-link-margin;
  }
}


// Dribbble Shots
.homepage__dribbble-item {
  @include position($homepage-dribbble-item-position);
  @include span-columns(4 of 4);
  @include transition(all 0.5s ease);
  border: $homepage-dribbble-item-border;
  margin: $homepage-dribbble-item-margin;
  overflow: $homepage-dribbble-item-overflow;

  @include media($medium) {
    @include span-columns(6 of 12);
    @include omega(2n);
  }

  @include media($large) {
    @include span-columns(4 of 12);
    @include omega-reset(2n);
    @include omega(3n);
  }

  // Dribbble Shot Overlay
  &::after {
    @include position(absolute, 0 0 0 0);
    @include transition(all 0.5s ease);
    background-color: $black-base;
    content: " ";
    opacity: 0;
  }

  img {
    width: $homepage-dribbble-item-width;
  }

  // Shot Link
  .homepage__dribbble-item__link {
    display: $homepage-dribbble-item-display;
  }


  // Dribbble Shot Hover
  &:hover {
    @include box-shadow($homepage-dribbble-item-spread, $homepage-dribbble-item-shadow);

    &::after {
      opacity: 1;
    }

    a {
      opacity: $homepage-dribbble-item-opacity !important;
    }

    .homepage__dribbble-item__text {
      opacity: $homepage-dribbble-item-opacity;
    }
  }
}

// Dribbble Shot Text
.homepage__dribbble-item__text {
  @include position($homepage-dribbble-text-position, $homepage-dribbble-text-cords);
  @include transition($homepage-dribbble-text-transition);
  height: $homepage-dribbble-text-height;
  opacity: $homepage-dribbble-text-opacity;
  padding: $homepage-dribbble-text-padding;
  z-index: $homepage-dribbble-text-z-index;

  p {
    @extend .text--white;
    @include s-hotel;
  }
}

// Medium Posts
.homepage__medium-post {
  border-bottom: $homepage-post-border;
  margin: $homepage-post-margin;
  padding: $homepage-post-padding;

  .post-date {
    color: $homepage-post-date-color;
    display: $homepage-post-date-display;
    margin: $homepage-post-date-margin;
  }
}