<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    {% include contact-modal.html %}
    {{ content }}
    {% include footer.html %}
    <script src="{{ site.baseurl }}js/jquery.jribbble.js"></script>
    <script src="{{ site.baseurl }}js/main.js"></script>
    <script>
     var _gaq=[['_setAccount','UA-44827406-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>