//SITE BASE LAYOUT
%site-layout-padding{
	@include rem(padding, 0 20px);

	@include media($tablet){
		@include rem(padding, 0);
	}
}

.section-block{ 
	@include outer-container;
	@include rem(margin, 50px auto); 
}

//MOBILE HIDE
.mobile-hide{
	@extend .display-none;

	@include media($tablet){
		display: block;
	}
}


//DIVIDER
hr{
	border: none;
	border-bottom: 1px solid $grey-light;
	@include rem(padding, 10px 0);
}